@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif;
    letter-spacing: var(--spacing);
    /* outline: 1px solid rgba(255, 0, 255, 0.5);    */
}
:root {
    --color-white: #ffffff;
    --color-white-dim: #f0f1f2;
    --color-white-dim2: #c2caeb;
    --color-grey-dark-1: #626a7b;
    --color-grey-dark-2: #525967;
    --color-grey-dark-3: #464c58;
    --color-modal-bg: rgba(4, 5, 9, 0.9);
    --color-modal-window: #2e3349;
    --color-modal-border: #525e96;
    --color-red: #e9624b;
    --color-red-dim: #af4938;
    --color-yellow: #f6bf4e;
    --color-yellow-dim: #b88f3a;
    --color-blue: #548edc;
    --color-blue-dim: #3f6aa5;
    --color-cyan: #46b1da;
    --color-green: #92c15d;
    --color-green-darken: #6d9146;
    --size-button: 12rem;
    --size-button-center: 9rem;
    --size-triangle-base: 30rem;
    --size-header-height: 8rem;
    --size-sidebar-width: 6rem;
    --spacing: 1px;
    --animation-modal: 0.7s;
    --animation-button: 0.8s;
}
body {
    background: var(--color-grey-dark-1);
    display: flex;
    height: 100vh;
}
body * {
    box-sizing: border-box;
}
/* ########## FIRST LEVEL ########## */
.header {
    height: var(--size-header-height);
    background: var(--color-white-dim);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    color: var(--color-grey-dark-1);
}
h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}
.subtitle {
    letter-spacing: 1px;
}
.flex-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.side-menu {
    min-width: var(--size-sidebar-width);
    width: var(--size-sidebar-width);
    background: var(--color-grey-dark-1);
}
.game-area {
    background: var(--color-white);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ########## BUTTONS POSITION ########## */
.triangle {
    box-sizing: content-box;
    padding: 2rem;
    background: url("./references/arrows_01.png");
    background-position: center;
    background-size: contain;
    width: var(--size-triangle-base);
    height: calc(var(--size-triangle-base) * 0.87);
    min-width: var(--size-button * 2);
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 0 0 auto;
}
.choice-container {
    flex: 0 0 50%;
    min-width: var(--size-button);
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice-container:nth-child(3) {
    flex-basis: 100%;
}
.choice-1 {
    top: 0;
    left: 0;
}
.choice-2 {
    top: 0;
    right: 0;
}
.choice-3 {
    bottom: 0;
    left: calc(50% - var(--size-button) / 2);
}

/* ########## BUTTONS SHAPE ########## */
.choice {
    width: var(--size-button);
    height: var(--size-button);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.choice-center {
    box-sizing: content-box;
    width: var(--size-button-center);
    height: var(--size-button-center);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5rem var(--color-white) solid;
    overflow: hidden;
}

/* ########## BUTTONS COLORS ########## */
.choice-rock {
    background: var(--color-red);
}
.choice-paper {
    background: var(--color-yellow);
}
.choice-scissors {
    background: var(--color-blue);
}

.choice-center .icon {
    width: 110%;
    height: 110%;
}

/* ########## BUTTONS ICONS ########## */
.choice-rock .icon {
    background: url("./resources/icon_hand_rock.png");
    background-position: center;
    background-size: cover;
}
.choice-scissors .icon {
    background: url("./resources/icon_hand_scissors.png");
    background-position: center;
    background-size: cover;
}
.choice-paper .icon {
    background: url("./resources/icon_hand_paper.png");
    background-position: center;
    background-size: cover;
}

/* ########## BUTTONS ANIMATION ########## */
.choice:hover {
    animation: button-hover var(--animation-button) infinite;
}

@keyframes button-hover {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

/* ########## SCORES ########## */
.scores {
    margin-top: 1rem;
    margin-left: 2rem;
    display: flex;
    gap: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--color-grey-dark-1);
}

/* ########## MODAL ########## */
.modal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    background: var(--color-modal-bg);
    transition: all var(--animation-modal);
    opacity: 0;
    z-index: -1;
}

.modal.show {
    opacity: 1;
    z-index: 1;
}

/* ########## MODAL WINDOW ########## */
.modal-window {
    height: 15rem;
    width: 30rem;
    background-color: var(--color-modal-window);
    border: 1px solid var(--color-modal-border);
    border-radius: 1rem;
    padding: 1.5rem 2rem;

    color: var(--color-white-dim2);
    text-align: center;

    transform: translateY(calc(-50vh - 50%));
    transition: all var(--animation-modal);
}
.modal-window.show {
    transform: translateY(0);
}

.modal-window button {
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    background: var(--color-blue-dim);
    color: var(--color-white);
    transition: all 0.2s;
    cursor: pointer;
}

.modal-window button:hover {
    background: var(--color-blue);
}
/* ########## MODAL WECOME ########## */
.welcome-text {
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.welcome-text.active {
    display: flex;
}
.welcome-text p {
    font-weight: 300;
}
.welcome-text h2 {
    margin-bottom: 1rem;
}

/* ########## MODAL SCORE ########## */
.result-text {
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.result-text.active {
    display: flex;
}
.result-text.show {
    display: flex;
}

.result-text h2 {
    margin-bottom: -1rem;
}
