@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");

* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid rgba(255, 0, 255, 0.1); */
}
:root {
    --color-white: #ffffff;
    --color-grey-light: #f0f1f2;
    --color-grey-dark-1: #626a7b;
    --color-grey-dark-2: #525967;
    --color-grey-dark-3: #464c58;
    --color-red: #e9624b;
    --color-red-darken: #af4938;
    --color-yellow: #f6bf4e;
    --color-yellow-darken: #b88f3a;
    --color-blue: #548edc;
    --color-blue-darken: #3f6aa5;
    --color-green: #92c15d;
    --color-green-darken: #6d9146;
    --size-button: 12rem;
    --size-button-center: 9rem;
    --size-triangle-base: 30rem;
    --spacing: 1px;
    --header-height: ;
}
body {
    background: var(--color-grey-dark-1);
    display: flex;
    height: 100vh;
}
/* ########## FIRST LEVEL ########## */
.header {
    height: 6rem;
    background: var(--color-grey-light);
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    color: var(--color-grey-dark-3);
}
h1 {
    text-align: center;
    margin: 1.5rem auto;
    font-family: "roboto", sans-serif;
    font-size: 1.5rem;
    letter-spacing: var(--spacing);
    font-weight: 700;
}
.flex-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.side-menu {
    width: 12rem;
    background: var(--color-grey-dark-1);
}
.game-area {
    background: var(--color-white);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* BUTTONS POSITION */
.triangle {
    width: var(--size-triangle-base);
    height: calc(var(--size-triangle-base) * 0.935);
    min-width: var(--size-button * 2);
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 0 0 auto;
}
.choice-container {
    flex: 0 0 50%;
    min-width: var(--size-button);
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice-container:nth-child(3) {
    flex-basis: 100%;
}
.choice-1 {
    top: 0;
    left: 0;
}
.choice-2 {
    top: 0;
    right: 0;
}
.choice-3 {
    bottom: 0;
    left: calc(50% - var(--size-button) / 2);
}

/* BUTTONS SHAPE*/
.choice {
    width: var(--size-button);
    height: var(--size-button);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.choice-center {
    width: var(--size-button-center);
    height: var(--size-button-center);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5rem var(--color-white) solid;
    overflow: hidden;
}

/* BUTTONS COLORS */
.choice-rock {
    background: var(--color-red);
}
.choice-paper {
    background: var(--color-yellow);
}
.choice-scissors {
    background: var(--color-blue);
}

.choice-center .icon {
    width: 110%;
    height: 110%;
}

/* BUTTONS ICONS */
.choice-rock .icon {
    background: url("./references/CartoonHandRock.png");
    background-position: center;
    background-size: cover;
}
.choice-scissors .icon {
    background: url("./references/CartoonHandScissors.png");
    background-position: center;
    background-size: cover;
}
.choice-paper .icon {
    background: url("./references/CartoonHandPaper.png");
    background-position: center;
    background-size: cover;
}

/* BUTTONS ANIMATION */
.choice:hover {
    animation: button-hover 0.8s infinite;
}

@keyframes button-hover {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

/* SCORES */
.scores {
    margin-top: 1rem;
    margin-left: 2rem;
    display: flex;
    gap: 1rem;
    font-family: "roboto", sans-serif;
    letter-spacing: var(--spacing);
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--color-grey-dark-1);
}
